.footer {
    background-color: #333333;
    min-height: 220px;
    margin-top: 100px;
    width: 100%;

    &__container {
        max-width: 1388px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__left {
        display: flex;
        justify-content: space-between;
        max-width: 550px;
        padding-top: 60px;
        margin-bottom: 45px;
    }

    &__logo {
        padding-right: 0;
    }

    &__menu {
        max-width: 570px;
        display: flex;
        &-list {
            max-width: 390px;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            list-style: none;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            padding: 0;
        }

        &-item {
            
            margin-right: 50px;
        
            &:last-child {
                margin-right: 0;
        }
        }

        &-link {

            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }
    }

    &__info{
        &-inner {
            display: flex;
            justify-content: space-between;
        }

        &-company {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }

        &-copyright {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}


@media (max-width: 768px) {

    .footer__menu-list {
        flex-direction: column;
        }
        .footer__info-inner {
        flex-direction: column;
        }

        .footer__menu-item {
            
            margin-bottom: 25px;
        }

        .footer__left {
            max-width: 426px;
            }

    .footer__container {
        padding-left: 50px;
        padding-right: 50px;
    }
}