.header {
  &__top {
    background: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 1642px;
    margin: 0 auto;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 88px;
    margin-bottom: 8px;
    width: 100%;
    position: relative;

    &-left {
      display: flex;
    }
    &-right {
      display: flex;
    }
  }

  &__container {
    max-width: 1388px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__background {
    background: #fff;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    margin-right: 42px;
  }

  &__logo {
    padding-right: 94px;
    max-width: 100%;
    display: block;
    flex: 3;
  }
  &__menu {
    max-width: 565px;
    display: flex;
    flex-wrap: wrap;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    margin-right: 33px;
    align-self: center;
    font-family: "SFUIDisplay-Medium";
    font-style: normal;
    font-weight: 500;
    flex-wrap: wrap;
  }

  &__main {
    display: flex;
    &-inner {
      display: flex;
      padding-bottom: 15px;
    }
  }

  &__img {
    max-width: 584px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    padding-top: 56px;
    padding-bottom: 148px;
  }

  &__title {
    display: inline-block;
    margin-top: 192px;
    margin-bottom: 0;
    max-width: 772px;
    font-family: "SFUIDisplay-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 120%;
    color: #333333;
  }

  &__text {
    max-width: 675px;
    font-family: "SFUIDisplay-Light";
    font-weight: 300;
    font-size: 23px;
    line-height: 150%;
    color: #333;
    margin-top: 27px;
    margin-bottom: 52px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  font-family: "SFUIDisplay-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 0;

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }

    &-link {
      text-decoration: none;
      color: #000000;
      cursor: pointer;
      font-size: 14px;
    }
  }

  &__phone {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    line-height: 23px;
    padding-left: 10px;
    &-text {
      font-family: "SFUIDisplay-Light";
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #828282;
      text-align: right;
    }
  }

  &__button {
    font-family: "SFUIDisplay-Bold";
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    background-color: #88713f;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
    &.more {
      padding: 20px 40px;
    }
  }

  &-button {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 75px;
    cursor: pointer;
    outline: none;

    &__line {
      display: block;
      width: 35px;
      height: 3px;
      background-color: #88713f;
      border-radius: 5px;
      margin: 4px 0;
    }
  }
  &__mobile {
    position: fixed;
    top: 80px;
    left: 0;
    padding: 16px 0;
    background-color: #507fe1;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    opacity: 1;
  }
}

.mobile {
  &-menu {
      display: none;
      &__inner {
        display: flex;
        flex: 1;
      }
  }
}

@media (max-width: 1280px) {
  .header {
    &__main {
      &-inner {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__background {
      background: transparent;
      box-shadow: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin: 0;
    }
  }
}

@media (max-width: 980px) {
  .header__top {
    height: 110px;
  }
  .menu {
    &__item {
      margin-right: 30px;
      &-link {
        font-size: 12px;
      }
    }

    &__phone {
      font-size: 14px;
      &-text {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__main {
      &-inner {
        flex-direction: column;
      }
    }

    &__title {
      font-size: 35px;
      margin-top: 80px;
    }

    &__top {
      &-container {
        max-width: 1642px;
        margin: 0 auto;
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }


  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $space-m;
    top: 0;
    background-color: #fff;
    left: 0;
    right: 0;
    height: 110px;
    z-index: 9999999;

    &__btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 30px;
      cursor: pointer;
      transition: 0.4s;
      margin-right: 15px;
    }

    &__icon {
      display: block;
      position: relative;
      background: $primary-color;
      width: 90%;
      height: 4px;
      transition: 0.4s;

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: $primary-color;
        width: 100%;
        height: 4px;
        transition: 0.4s;
      }
      &::after {
        top: 8px;
      }
      &::before {
        top: -8px;
      }
    }

    &__container {
      position: fixed;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 999;
      height: 0;
      opacity: 1;
      transition: 0.5s;
      transition-delay: 0.2s;
      overflow: hidden;
      background-color: $primary-color;
    }

    &__list {
      transition: 0.5s;
      transition-delay: 0.5s;
      list-style: none;
      padding-left: 0;
      margin-top: -50px;
    }

    &__item {
      font-size: 26px;
      padding-bottom: 15px;
      & .header__phone {
        padding-right: 0;
        text-align: center;
      }
    }

    &__link {
      text-decoration: none;
      color: #fff;
    }

    &__checkbox {
      display: none;

      &:checked ~ {
        .mobile-menu {
          &__nav {
            opacity: 1;
            transition-delay: 0s;
          }

          &__container {
            height: 100%;
            transition-delay: 0s;
            margin-top: 60px;
          }

          &__btn {
            .mobile-menu__icon {
              background: transparent;

              &::before,
              &::after {
                top: 0;
              }

              &::after {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }

              &::before {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }

  .menu {
    // flex-direction: column;
    &-button {
      display: flex;
      // position: fixed;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
    }

    &__main {
      flex-direction: column;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__title {
      font-size: 25px;
      max-width: 335px;
    }

    &__text {
      font-size: 13px;
      max-width: 335px;
    }

    &__img {
      width: 337px;
    }
  }

  .menu {
    &__button {
      padding: 13px 35px;
      font-size: 10px;
    }
  }
}
